.App {
  text-align: center;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  display: flex;
  background-image: url("/public/marble-2362265_1280.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

.poker-table {
  width: 70vw;
  height: 25vw;
  background: darkgreen;
  border-radius: 50%;
  margin: auto;
  border: 3px solid black;
  box-shadow: 3px 3px 3px gray;
  position: relative;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0.5em;
  border: 2px black solid;
  border-radius: 10%;
  min-width: 12%;
  position: absolute;
  background: white;
}
.avatar .avatar-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.avatar h2 {
  margin: 0;
  font-size: 0.8em;
  text-transform: capitalize;
}
.avatar.avatar-1 {
  top: -10%;
  left: 42%;
}
.avatar.avatar-2 {
  bottom: -10%;
  left: 42%;
}

.chip-count {
  margin: 0;
}

.holecards {
  position: absolute;
  display: flex;
  width: 11%;
  height: auto;
}
.holecards img {
  width: 50%;
}
.holecards .computer-hole-cards {
  width: 80%;
}
.holecards.avatar-1 {
  top: 14%;
  left: 43%;
}
.holecards.avatar-2 {
  bottom: 14%;
  left: 43%;
}

.betting-ui .betting-ui-btns {
  display: flex;
}
.betting-ui .betting-ui-btns button {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5em 2em;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 1em;
  background: #003d00;
  color: white;
}
.betting-ui .betting-ui-btns button:hover {
  box-shadow: 3px 3px 3px gray;
  cursor: pointer;
}
.betting-ui .betting-ui-btns button span:nth-of-type(2) {
  font-weight: 400;
}

header {
  background: white;
  padding: 3em;
  border-radius: 10px;
}

.dealer-btn {
  background: white;
  color: black;
  border-radius: 50%;
  padding: 0.5em;
  line-height: 1em;
  width: 1em;
}

.dealer-top {
  position: absolute;
  top: 25%;
  left: 37%;
}

.dealer-bottom {
  position: absolute;
  bottom: 25%;
  left: 37%;
}

.pot {
  position: absolute;
  bottom: 42%;
  left: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pot img {
  width: 60%;
}
.pot span {
  color: white;
  font-size: 1em;
}

.thinking-timer {
  position: absolute;
  width: 10%;
  height: auto;
  top: 20%;
  right: 30%;
}

.community-cards {
  position: absolute;
  display: flex;
  width: 27%;
  height: auto;
  left: 35%;
  top: 40%;
}
.community-cards img {
  width: 20%;
  margin: 0.1em;
}

.showdown-cont {
  color: white;
  position: absolute;
  left: 110%;
  width: fit-content;
}
.showdown-cont p {
  margin: 0;
  text-align: left;
}

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
}

.slidecontainer ~ p {
  margin: 0;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #04aa6d;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #04aa6d;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

/*# sourceMappingURL=App.css.map */
